<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.atharvainfo.manthan">

    <compatible-screens>

        <!-- no small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="small" /> <!-- Workaround -->


        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="normal" /> <!-- Workaround -->


        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />

        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <!-- Special case for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />

        <!-- xxhdpi -->

    </compatible-screens>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- for card.io card scanning -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <dist:module dist:instant="true" />

    <application
        android:name=".Manthan"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.StudentAdmission"></activity>
        <activity android:name=".Activity.Frontpage" />
        <activity android:name=".Activity.codashboard" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ExamHallTicket" />
        <activity android:name=".Activity.AssessmentRecord" />
        <activity android:name=".Activity.KeyReview" />
        <activity android:name=".Activity.AboutUs" />
        <activity android:name=".Activity.Help" />
        <activity android:name=".Activity.Assessment_Record" />
        <activity android:name=".Activity.Notice" />
        <activity android:name=".Activity.assessment" />
        <activity android:name=".Activity.view_exam" />
        <activity android:name=".Activity.classselect" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.EditProfile" />
        <activity android:name=".Activity.Examination" />
        <activity android:name=".Activity.NoItemInternetImage" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.atharvainfo.manthan.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>